# Application Environment (development | preview | production)
EXPO_PUBLIC_APP_ENV=

# API Configuration
EXPO_PUBLIC_API_URL=

# Example Variables
EXPO_PUBLIC_VAR_NUMBER=
EXPO_PUBLIC_VAR_BOOL=

# Build-time only secrets (no EXPO_PUBLIC prefix - NOT accessible in src folder)
SECRET_KEY=
APP_BUILD_ONLY_VAR=

# AI Configuration
OPENAI_API_KEY=
ANTHROPIC_API_KEY=