EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_API_URL=https://example.com
EXPO_PUBLIC_VAR_NUMBER=0
EXPO_PUBLIC_VAR_BOOL=false
# Optional: only set when you have a real URL
# EXPO_PUBLIC_ASSOCIATED_DOMAIN=https://example.com
APP_BUILD_ONLY_VAR=
